nav{
  background-color:white;
  border-color: black;
  border-width: 3px;
  border: 10px;
  padding:5px;
  text-align:center;
  color:black;

}
.view{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-style:solid;
  border-color: black;
  border-width: 3px;
  text-align: center;
  margin:auto;
  height:650px;
  width:650px;
  padding:10px;
}
.output_view{
  background-image: url(images/batman.jpg);
}

.form_view{
    background-image: url(images/bubble.jpg);
}
input{
  padding:3px;
}
form{
  width: 75%;
  margin: 250px 10px 10px 80px;
  text-decoration: none;
  font-size: 16px;
}

h3{
  padding:1px;
}

h2{
  padding:1px;
}
.output_text{
  background-color:white;
  margin: 10px;
  width: 65%;
  padding: 5px 15px;
  border-style:solid;
  border-color: black;
  border-width: 3px;
}
