nav{
  background-color:white;
  border-color: black;
  border-width: 3px;
  border: 10px;
  padding:5px;
  text-align:center;
  color:black;

}

.output_view{
  background-image: url(images/batman.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin:auto;
  height:80%;
  width:80%;
}

.form_view{
    background-image: url(images/bubble.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin:auto;
    height:80%;
    width:80%;
}

.output_text{
  background-image: url(images/talkbubble.png);
  background-size: cover;
  background-repeat: no-repeat;
  height:80%;
  width:80%;
  padding:5px;
  margin:auto;
  text-align:center;
}
