<div class="view form_view">

<form>
  <div class="form_info">
    <h3> Comic Madlibs</h3>
    <p>Please fill out this form, and click output for results</p>
  </div>
<input type="text" name="" value="" ng-model="mad.noun1" placeholder="noun">
<input type="text" name="" value="" ng-model="mad.verb1" placeholder="verb">
<input type="text" name="" value="" ng-model="mad.adj1" placeholder="adjective">
<input type="text" name="" value="" ng-model="mad.noun2" placeholder="noun">
<input type="text" name="" value="" ng-model="mad.verb2" placeholder="verb">
<input type="text" name="" value="" ng-model="mad.adj2" placeholder="adjective">
<input type="text" name="" value="" ng-model="mad.noun3" placeholder="noun">
<br>
<button type="button" name="button" ng-click="addInput(mad)">Submit</button>
</form>
</div>
