<div class="output_view" style="background-color:white">


<h1>Mad Libs!</h1>

<h3>That is the wrong story, Robin!</h3>
<p>It was Humpty Dumpty and his good friend the {{print.noun1}} that sat on the wall. Well, it wasn't even a wall. It was a {{print.adj1}} {{print.noun2}} that they {{print.verb1}} on. Humpty Dumpty had a great fall because he was too busy thinking about the {{print.adj2}}  {{print.noun3}}. All the king's men then {{print.verb2}} instead of helping the poor guy out. </p>
<h3>Get it right.</h3>

</div>
<!-- {{print.noun1}}
{{print.verb1}}
{{print.adj1}}
{{print.noun2}}
{{print.verb2}}
{{print.adj2}}
{{print.noun3}} -->
