<div class="output_view">

<div class="output_text">
<h2>You can't tell anyone that story, Robin!</h2>
<p>If anyone asks, you tell them I fought a really, really <strong> {{print.adj1}}</strong>  <strong> {{print.noun1}}</strong> by <strong> {{print.verb1}}ing</strong> it with a <strong>{{print.noun2}}</strong> I had on hand. In fact, you didn't fight at all. Instead, you tell them that you were too preoccupied <strong>{{print.verb2}}ing</strong> and playing with a <strong>{{print.adj2}}  {{print.noun3}}</strong> next to the Bat-mobile.I saved the day. </p>
<h3>Get it right.</h3>

</div>
