<div class="output_view">

<div class="output_text">
<h1>That is the wrong story, Robin!!</h1>
<p>It was Humpty Dumpty and his good friend the  <strong>{{print.noun1}}</strong>  that sat on the wall. Well, it wasn't even a wall. It was a <strong> {{print.adj1}}</strong>  <strong> {{print.noun2}}</strong> that they <strong> {{print.verb1}}</strong> on. Humpty Dumpty had a great fall because he was too busy thinking about the <strong> {{print.adj2}}</strong>  <strong> {{print.noun3}}</strong> All the king's men then {{print.verb2}} instead of helping the poor guy out. </p>
<h3>Get it right.</h3>

</div>
